public-hoist-pattern[]=@types/*
public-hoist-pattern[]=playwright-core
public-hoist-pattern[]=zod

save-exact=true
package-lock=false
legacy-peer-deps=true
auto-install-peers=true
side-effects-cache=false
strict-peer-dependencies=false
prefer-workspace-packages=true
link-workspace-packages=true
node-options=--no-warnings
