public-hoist-pattern[]=@types/*
public-hoist-pattern[]=playwright-core
public-hoist-pattern[]=zod

save-exact=true
package-lock=false
legacy-peer-deps=true
auto-install-peers=true
side-effects-cache=false
node-options=--no-warnings
