@import "tailwindcss";
@import "@fontsource/jetbrains-mono";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  color: #ffffff;
  background-color: #000000;
  font-family: "JetBrains Mono";
}
